.company{
    color: #fff;
}


.experiencePara{
    border: 1px solid #fff !important;
    width: 200px;
    height: 150px;
    margin-top: -50px;
    margin-left: 10px;
    z-index: -1;
    float: left;
    color: whitesmoke;
    text-align: justify;
    float: left;
    padding: 20px;
    border: 1px #fff solid;

}