.Content{
    display: flex;
    position: relative;
    z-index: 1;
    margin-top: -34rem;
    justify-content: center;

}

.graphics{
    height: 100%;
    padding-top: 2rem;
}

.About_me{
    position: relative;
    top:21rem;
}

.about_content{
     z-index: 1;
    margin-top: -34rem;
    justify-content: center;
}


