.pageWrapper{
    width: 100%;
    /* height: 100vh; */
    position: fixed;
    background-color: #fff;

}


.pageBackground{
    width: 120%;
    height: 120%;
    left: -10%;
    top: -10%;
    position: absolute;
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(3px);
}


