
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.logo {
  width: 25%;
}



.navbar,
.navbar-default {
    background-image: none !important; /* override background image gradient w/ flat color */
    /* font-family: 'Philosopher', sans-serif; */
    font-family: 'Share Tech Mono', monospace;
    color:  #fff !important;
    font-size: 15px !important;
    max-height: 40px !important;
}

nav .navbar-nav li a{
  color: white !important;
  }

/* .nav-theme {
  background-color: transparent !important ;
  border-color: transparent !important;
  font-size: 15px !important;
  max-height: 40px !important;
} */

.animate-navbar {
  /* box-shadow: 1px 1px 1px #222; */
  animation: moveDown 0.5s ease-in-out;

}


/* -webkit-font-smoothing: antialiased;
font-family: Founders Grotesk;
font-style: normal;
font-weight: 400;
color: #1c3447;
min-width: 290px;
max-width: 1050px;
background-image: url(/static/media/intro-background.6024dc8c.png);
background-repeat: no-repeat;
animation: HeroStatement_backgroundGradient__37AgU 8s linear infinite alternate;
-webkit-text-fill-color: transparent;
font-size: 80px;
line-height: 100.8%;
width: 100%;
padding: 0;
margin: 0; */